.table-container {
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

.table {
  width: 100%;
  min-width: 700px;
  border-collapse: separate;
  border-spacing: 0 $spacing-unit;

  th,
  td {
    padding: $spacing-unit * 2;
    text-align: left;
    background-color: transparent;

    &:nth-child(1) {
      min-width: 200px;
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
    }
    &:nth-child(2) {
      min-width: 120px;
    }
    &:nth-child(3) {
      min-width: 100px;
    }
    &:nth-child(4) {
      min-width: 150px;
    }
    &:nth-child(5) {
      min-width: 130px;
      text-align: right;
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
    }

    &:last-child {
      text-align: right;
    }

    @media (max-width: 800px) {
      padding: ($spacing-unit * 1.5) $spacing-unit;
    }
  }

  th {
    font-weight: 600;
    position: relative;
    color: $secondary-color;
    cursor: pointer;
    user-select: none;
    transition: all $transition-duration ease;

    &:first-child {
      padding-left: $spacing-unit * 2;
    }

    &:last-child {
      cursor: default;
    }

    &:hover {
      color: $text-color;
    }
  }

  tr {
    transition: all $transition-duration ease;

    &:hover:not(thead tr) {
      cursor: pointer;
      box-shadow: 0px 0px 20px 0px #00000026;
    }

    &:not(thead tr) td {
      background-color: #ffffff;
    }
  }

  &__sort-icon {
    width: 16px;
    height: 16px;
    margin-left: $spacing-unit;
    vertical-align: middle;
    opacity: 0.5;
  }
}
